<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nayleng">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ges_nosvemos"></activity>
        <activity android:name=".fam_parientes" />
        <activity android:name=".fam_abuela" />
        <activity android:name=".fam_abuelo" />
        <activity android:name=".familia" />
        <activity android:name=".como_estan" />
        <activity android:name=".culturas" />
        <activity android:name=".clases" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>